<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I hold a master’s degree in IT and have been working as a webmaster and project manager for the last 7 years with responsibility for the development of websites in Lejre Municipality and Danish Refugee Council</p>
    <p>I possess a steady overview and a significant insight into the different phases of web projects and also have the technical hands-on experience. I understand that my part is to be a central link when managing a web project and therefore I am able to create cooperation and a coherent process. This is why I am able to create solid results and keep a focus on development.</p>
</div><!--//summary-->
</section><!--//section-->
