<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>               
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Webmaster</h3>
                            <div class="time">2017 - </div>
                        </div><!--//upper-row-->
                        <div class="company">Greve Kommune</div>
                    </div><!--//meta-->
                    <div class="details">
                    <ul>
                    <li>Responsible for web (Umbraco Cloud) and intranet platform (SharePoint Online)</li>
                    <li>Web management, design, optimization and development</li>
                    <li>Front end development</li>
                    <li>Project manager on website platform change project</li>
                    <li>Collaboration and coordination with external suppliers</li>
                    <li>SEO with SiteImprove</li>
                    <li>Web editor training, support and management</li>
                    <li>IA</li>
                    <li>Graphic design for web</li>
                    <li>Digital content and assets management</li>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Webmaster</h3>
                            <div class="time">2014 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Danish Refugee Council</div>
                    </div><!--//meta-->
                    <div class="details">
                    <ul>
                    <li>Development and design of main web sites and campaign sites</li>
                    <li>Evaluation of CMS-solutions in regards to functionality, usability and accessibility</li>
                    <li>Project manager on large-scale website design / development project, website launched winter 2015 after 6 months of development</li>
                    <li>Collaboration and coordination with external suppliers</li>
                    <li>SEO with Google Analytics / Google Webmaster Tools (Search Console)</li>
                    <li>Web editor training, support and management</li>
                    <li>Wireframing</li>
                    <li>IA</li>
                    <li>Front end development</li>
                    <li>Graphic design for web</li>
                    <li>Digital content and assets management</li>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Webmaster</h3>
                            <div class="time">2010 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Lejre Municipality</div>
                    </div><!--//meta-->
                    <div class="details">
                <p>Web project management experience:<p>
                <ul>
                <li>Project manager on large-scale municipality website design / development project, website launched Aug. 2013 after 8 months of development</li>
                <li>Preparation of requirements specifications and tender documents</li>
                <li>Tender process management</li>
                <li>Collaboration and coordination with external suppliers</li>
                <li>User involvement</li>

                <p>Web content management, optimisation and development experience:</p>
                <li>Evaluation of CMS-solutions in regards to functionality, back end usability and accessibility</li>
                <li>Administration and integration of citizen self-service solutions</li>
                <li>Development and design of municipal sites</li>
                <li>Collaboration and coordination with internal commissioners</li>
                <li>SEO with Google Analytics / Google Webmaster Tools (Search Console)</li>
                <li>SE implementation and administration - Google Enterprise Search</li>
                </ul>

                <p>Web administration, training, and support experience:</p>
                <ul>
                <li>User administration</li>
                <li>Technical troubleshooting and support</li>
                <li>Training and management of editors</li>
                <li>Digital communications advisory</li>
                </ul>

                <p>Intranet project experience:</p>
                <ul>
                <li>Project manager on large-scale SharePoint 2010 intranet project - intranet launched after 7 months of development</li>
                <li>Preparation of requirements specifications and tender documents</li>
                <li>Tender process management</li>
                <li>Collaboration and coordination with external suppliers</li>
                <li>Coordination with internal IT department</li>
                <li>Wireframing</li>
                <li>Ensure employee involvement and leadership support</li>
                </ul>

                <p>Intranet management and development experience: </p>
                <ul>
                <li>Strategic planning of future changes to the intranet</li>
                <li>Ensure quality of content and usage of SharePoint functionality </li>
                <li>Design and development of SharePoint sites</li>
                <li>Training and management of editors</li>
                <li>User administration</li>
                <li>Back-end SharePoint administration and monitoring</li>
                <li>Technical troubleshooting and support</li>
                </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Junior Product Manager, Usability</h3>
                            <div class="time">2009 - 2009</div>
                        </div><!--//upper-row-->
                        <div class="company">Deltek</div>
                    </div><!--//meta-->
                    <div class="details">
                    <ul>
                        <li>User Interface Design</li>
                        <li>Persona research and development</li>
                        <li>Heuristic evaluation</li>
                    </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
