<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <!--//intro
                <div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                </div>
                -->
                <div class="item">
                    <span class="project-title"><a href="https://flygning.dk" target="_blank">FLYGNTNING.DK / DRC.DK</a></span> - <span class="project-tagline">In Danish Refugee Council I completed a large scale web project involving a replacement of the entire organisation’s Danish and English main sites to Umbraco. In an organisation with more than 6000 employees working in 40 countries and an ongoing change in the employees I saw that it was too difficult for the web editors to use backoffice in Typo3 and a more user friendly CMS was needed. Because of the limited budget a redesign was not a part of the project but in spite of this I succeeded in improving the delivered design which increased the number of users and donations significantly.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#hook">LEJRE INTRANET</a></span> - <span class="project-tagline">In Lejre Municipality I was in charge of replacing both the intranet and the website. The intranet, witch was based on Sharepoint 2010, was launched after 7 months of development.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://lejre.dk" target="_blank">LEJRE.DK</a></span> - 
                    <span class="project-tagline">The website project replaced the municipality’s proprietary CMS with a flexible and affordable solution. I realised early on that money could be saved on licenses and work hours by changing to an easier and more user friendly CMS. After 8 months of development the new website was launched in Umbraco. It took extensive project coordination that, among other things, meant cooperating with 20 web editors with no background in IT but who needed to be involved in creating the IA and the transfer of more than 4000 pages.</span>
                </div><!--//item-->
            </section><!--//section-->